<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="spring.mvc.repository.WorkDao">
 	<resultMap type="board" id="boardResult"/>
 	<!-- 
 	int totCnt(BoardSch sch)
 	 -->
 	<select id="totCnt" resultType="int" parameterType="bsch">
 		select count(*) 
		from reboard
		where 1=1
		<if test="title!=null and title!=''">
		and title like '%'||#{title}||'%'
		</if>
		<if test="writer!=null and writer!=''">
		and writer like '%'||#{writer}||'%'
		</if>		
 	</select> 
 	<select id="list" resultMap="boardResult" 
 		parameterType="bsch" >
 		SELECT *
 		FROM(
			select rownum cnt, level, b.* 
			from reboard b
			where 1=1
			<if test="title!=null and title!=''">
			and title like '%'||#{title}||'%'
			</if>
			<if test="writer!=null and writer!=''">
			and writer like '%'||#{writer}||'%'
			</if>
			START WITH refno = 0
			CONNECT BY PRIOR NO = refno
			ORDER siblings BY NO desc )
		WHERE cnt BETWEEN #{start} AND #{end}	
 	</select>
 	<insert id="insert" parameterType="board">
	 	INSERT INTO REBOARD values(reboard_seq.nextval,#{refno}, 
			#{title},#{content},#{writer},0,sysdate,sysdate,'','')
 	</insert>
 	<!-- 
 //  insertRepo(String fname);
//  insert into boardfile values(reboard_seq.currval, #{fname}, sysdate, sysdate, '')
 	 -->
 	<insert id="insertRepo" parameterType="String"> 
 		insert into boardfile values(reboard_seq.currval, 
 			#{fname}, sysdate, sysdate, '')
	</insert>

	
	
 	<select id="getBoard" 
 		resultType="board" parameterType="int">
 		SELECT *
 		FROM reboard
 		WHERE no = #{no}
 	</select>
 	<!-- 
 	ArrayList<String> fname(int no);
 	 -->
 	<resultMap type="String" id="strMap"/> 
 	<select id="fnames" resultMap="strMap" parameterType="int">
 		SELECT fname 
 		FROM boardfile		
 		WHERE no=#{no}
 	</select> 	
 	<update id="uptReadCnt" parameterType="int">
 		UPDATE reboard
 		   SET readcnt = readcnt+1
 		 WHERE no = #{no}
 	</update>
 	<!-- 
 	uptFileInfo(String org, String tag, int no);
 	updateBoard(Board upt);
 	 -->
 	<update id="updateBoard" parameterType="board">
		UPDATE reboard
		   SET title = #{title},
		   	   content = #{content},
		   	   writer = #{writer},
		   	   uptdte =sysdate
		 WHERE NO = #{no}
 	</update> 
 	<update id="commentBoard" parameterType="board">
		UPDATE reboard
		   SET rcomment = #{rcomment},
		   	   uptdte = sysdate
		 WHERE NO = #{no}
 	</update> 
 	<!-- 
 deleteBoard(int no)	
 	 -->
  	<delete id="deleteBoard" parameterType="int">
		DELETE FROM reboard
		 WHERE NO = #{no}
 	</delete> 	
  	<delete id="deleteFile" parameterType="int">
		DELETE FROM boardfile
		 WHERE NO = #{no}
 	</delete>  	
 	<!-- org, tar, no 
 	#{속성} : preparedStatement로 처리. ? 데이터type과 matching되게 처리..
 	
 	${속성} : 동적 query 설정  '"+name+"'
 				
 	아래에 tar, no, org가 동일한 문자열 형식이기때문  #{속성}으로 하면
 	no에 'no'로 들어갈 가망성이 있어 동적query를 사용하여 활용하였다.
 	
 	-->
  	<update id="uptFileInfo" parameterType="java.util.HashMap">
		UPDATE boardfile
			SET fname = #{tar},
	        uptdte= sysdate
	    WHERE NO = ${no}
		AND fname = #{org}	    	
	</update> 	
 	<insert id="insFileInfo" parameterType="java.util.HashMap"> 
 		insert into boardfile values(${no}, 
 			#{tar}, sysdate, sysdate, '')
	</insert>	 	
</mapper>	



