<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- XXXMapper.xml에서 간편하게 사용하기 위해서 선언.. -->
		<typeAlias alias="emp" type="springweb.a03_mvc.a04_vo.Emp"/>
		<typeAlias alias="board" type="springweb.a03_mvc.a04_vo.Board"/>
		<typeAlias alias="bsch" type="springweb.a03_mvc.a04_vo.BoardSch"/>
		<typeAlias alias="task" type="spring.mvc.vo.Task"/>
		<typeAlias alias="tsch" type="spring.mvc.vo.TaskSch"/>
		<typeAlias alias="calen" type="springweb.a03_mvc.a04_vo.Calendar"/>
	</typeAliases>
	<mappers>
		<!-- 실제 sql을 통해서 객체를 생성할 mapper.xml 선언. -->
		<mapper resource="resource/mybatis/empMapper.xml"/>
		<mapper resource="resource/mybatis/boardMapper.xml"/>
		<mapper resource="resource/mybatis/workMapper.xml"/>
		<mapper resource="resource/mybatis/calMapper.xml"/>
		
	</mappers>
</configuration>