<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="project06.repository.ChartDao">
<!-- 
	// empMapper.xml과 연결 
	// EmpRep ==> namspace명
	// ArrayList<Emp> ==> ResultMap
	// empList ==> id
	// Emp ==> parameterType
	resultMap 객체 선언 단위 객체가 모인 객체 선언
 -->	
 	<!-- resultMap은 배열형태로 결과값을 return할 객체
 		 resultType 단일 데이터형태로 결과값을 return할 객체
 		 
 		 column ==> vo와 연결하여 ArrayList로 처리..
 	 -->
 	<resultMap type="chart" id="chartResult"/>
 	<select id="chartList" resultMap="chartResult" parameterType="chart">
		SELECT pt.tname, pt.tno, pt.refno, pp.pno, pp.pname, 
		(pt.sdate-pp.sdate) sdate, (pt.edate-pp.sdate) edate, (pt.prog/100) prog, pem.name name
		FROM PMSPROJECT pp, PMSTASK pt, 
		(SELECT * FROM PMSEMP pe, PMSMEMBER pm
		WHERE pe.eno = pm.mno) pem
		WHERE pp.pno = pt.pno
		AND pt.mno = pem.mno
		START WITH pt.refno=0
		CONNECT BY PRIOR pt.tno = pt.refno
 	</select>
</mapper>	