<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="project06.repository.RiskDao">
	
	<resultMap type="comment" id="commentResult">
		<result property="cdetail" column="detail"/>
	</resultMap>

 	<select id="ctotCnt" resultType="int" parameterType="rsch">
		SELECT count(*)
		FROM PMSREPLY			
	 </select>
 	<select id="clist" resultMap="commentResult" parameterType="rsch" >
 	SELECT *
	FROM PMSREPLY re, PMSEMP e
	WHERE re.MNO = e.ENO 
	and ino = #{ino}
	START WITH refno =0
	CONNECT BY PRIOR rno = refno
	ORDER siblings BY rno	
	</select>
	<insert id="cinsert" parameterType="comment">
		INSERT INTO PMSREPLY VALUES(pmsreply_seq.nextval,#{refno},
		#{cdetail},sysdate,#{mno},#{ino})
	</insert>
	<delete id="deleteComment" parameterType="int">
		DELETE FROM PMSREPLY
		 WHERE rno = #{rno}
 	</delete> 
 	<!-- 상세 -->
 	<select id="getComment" 
 		resultType="comment" parameterType="int">
 		SELECT *
 		FROM PMSREPLY p, PMSEMP pm	
 		where 1=1
 		and p.mno = pm.ENO 
 		and rno = #{rno}
 	</select>
</mapper>	







