<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="project06.repository.DashTeamDao">
 	<resultMap type="dashNotice" id="noticeResult"/>
 	<resultMap type="dashMeet" id="meetResult"/>
 	<resultMap type="dashIssue" id="issueResult"/>
 	<resultMap type="dashRe" id="reResult"/>
 	<resultMap type="dashTask" id="taskResult"/>
 	<resultMap type="dashTeam" id="teamResult"/>
 	<resultMap type="int" id="intResult"/>

	<select id="ilist" resultMap="intResult">
		select pno from pmsproject order by pno asc
	</select>
	
	<select id="t1" resultType="int" parameterType="int">
		select count(*) from pmstask where pno=#{pno}
	</select>
	
	<select id="t2" resultType="int" parameterType="int">
		select count(*) from pmstask where pno=#{pno} and tdiv=24
	</select>
	
	<select id="t3" resultType="int" parameterType="int">
		select count(*) from pmstask where pno=#{pno} and prog=0
	</select>
	
	<select id="t4" resultType="int" parameterType="int">
		select count(*) from pmstask where pno=#{pno} and tdiv=24 and pdate-edate<![CDATA[ > ]]>0
	</select>
	
 	<select id="nlist" resultMap="noticeResult" parameterType="int" >
		SELECT nno,title,writer,wdate
 		FROM(
			select ROW_NUMBER() OVER(ORDER BY p.nno desc) cnt, p.nno,p.title,e.name writer,sysdate-p.wdate wdate 
		FROM pmsnotice p, pmsemp e
		WHERE 1=1 and p.pno=#{pno} and p.mno=e.eno
		ORDER BY p.nno DESC )
		WHERE cnt BETWEEN 1 AND 3
 	</select>
 	
 	<select id="mlist" resultMap="meetResult" parameterType="int" >
		SELECT mnno,topic,writer,wdate
 		FROM(
			select ROW_NUMBER() OVER(ORDER BY p.mnno desc) cnt, p.mnno,p.topic,e.name writer,sysdate-p.wdate wdate 
		FROM pmsmeeting p, pmsemp e
		WHERE 1=1 and p.pno=#{pno} and p.mno=e.eno
		ORDER BY p.mnno DESC )
		WHERE cnt BETWEEN 1 AND 3
 	</select>
 	
 	<select id="ilist" resultMap="issueResult" parameterType="int" >
		SELECT ino,solve,writer,wdate
 		FROM(
			select ROW_NUMBER() OVER(ORDER BY p.ino desc) cnt, p.ino,nvl2(coment,1,0) solve,e.name writer,sysdate-p.wdate wdate 
		FROM pmsissue p, pmsemp e
		WHERE 1=1 and p.pno=#{pno} and p.mno=e.eno
		ORDER BY p.ino DESC )
		WHERE cnt BETWEEN 1 AND 3
 	</select>
 	
 	<select id="rlist" resultMap="reResult" parameterType="int" >
		SELECT rno,ino,writer,wdate
 		FROM(
			select ROW_NUMBER() OVER(ORDER BY p.rno desc) cnt, p.rno,p.ino,e.name writer,sysdate-p.wdate wdate 
		FROM pmsissue i, pmsemp e, pmsreply p
		WHERE 1=1 and i.ino=p.ino and p.mno=e.eno and i.pno=#{pno}
		ORDER BY p.rno DESC )
		WHERE cnt BETWEEN 1 AND 3
 	</select>

 	<select id="tlist" resultMap="taskResult" parameterType="int">
 		select p.tno,p.tname,p.sdate,p.edate, p.prog,p.pdate,sysdate tdate, c.cname tdiv, edate-sdate tleng, nvl2(pdate,pdate-sdate,sysdate-sdate) dleng,edate-sysdate grade
 		from pmstask p, pmscodes c
 		where p.tdiv=c.cno
 		and p.mno=#{eno}
 		order by p.tno
 	</select>
 	
 	<select id="pm" resultType="int" parameterType="int">
 		select mno
 		from pmsproject
 		where pno=#{pno}
 	</select>
 	
 	<select id="getProject" resultType="dashPro" parameterType="int">
 		select p.pno,p.pname,e.name pm,deadline edate
 		from pmsproject p, pmsemp e
 		where pno=#{pno} and p.mno=e.eno
 	</select>
 	
 	<select id="plist" resultMap="taskResult" parameterType="int">
 		select p.tno,p.tname,p.sdate,p.edate, p.prog,p.pdate,sysdate tdate, c.cname tdiv, edate-sdate tleng, nvl2(pdate,pdate-sdate,sysdate-sdate) dleng,edate-sysdate grade
 		from pmstask p, pmscodes c
 		where p.tdiv=c.cno
 		and p.mno=#{mno}
 		and p.refno=0
 		order by p.tno asc
 	</select>
 	
 	<select id="teamlist" resultMap="teamResult" parameterType="int">
 		select e.eno,e.name
 		from pmsemp e,pmsmember m, pmsproject p
 		where e.eno=m.mno and m.pno=#{pno} and m.pno=p.pno and not m.mno=p.mno
 	</select>
 	
</mapper>	
