<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
	
<mapper namespace="project06.repository.MeetDao">

	<resultMap type="meet" id="meetResult"/>

 	<select id="totCnt" resultType="int" parameterType="msch">
 		select count(*) 
		from pmsmeeting
		where 1=1 and pno=#{pno}
		<if test="topic!=null and topic!=''">
		and topic like '%'||#{topic}||'%'
		</if>
	</select> 

	<select id="list" resultMap="meetResult" parameterType="msch" >
 		SELECT * 
		FROM(
			SELECT ROW_NUMBER() OVER(PARTITION BY P.PNO ORDER BY mnno asc) cnt, mnno,topic,detail,decision,etc,views,wdate,chdate,mdate,loc,people,mndiv,m.name writer,pno 
			FROM pmsmeeting p, pmsemp m 
			WHERE 1=1 AND p.mno=m.eno and pno=#{pno}
			<if test="topic!=null and topic!=''">
			and topic like '%'||#{topic}||'%'
			</if>
			ORDER BY mnno desc) 
		    WHERE cnt BETWEEN #{start} AND #{end}
 	</select>
 	
 	
 	<insert id="insert" parameterType="meet">
	 	insert into pmsmeeting values(pmsmeeting_seq.nextval,#{topic},#{detail},#{decision},#{etc},0,sysdate,null,sysdate,#{loc},#{people},34,10000017,1001)
 	</insert>
 	
 	
	<select id="getMeet" 
 		resultType="meet" parameterType="int">
 		SELECT mnno,topic,detail,decision,etc,views,wdate,chdate,mdate,loc,people,mndiv,m.name writer,pno
 		FROM pmsmeeting p, pmsemp m
 		WHERE mnno = #{mnno} and p.mno=m.eno
 	</select>
 	
 	<update id="uptReadCnt" parameterType="int">
 		UPDATE pmsmeeting
 		   SET views = views+1
 		 WHERE mnno = #{mnno}
 	</update>
 	
 	<update id="updateMeet" parameterType="meet">
		UPDATE pmsmeeting
		   SET topic = #{topic},
		   	   people = #{people},
		   	   loc = #{loc},
		   	   detail = #{detail},
		   	   decision = #{decision},
		   	   etc = #{etc},
		   	   chdate = sysdate
		   	   WHERE mnno = #{mnno}
 	</update> 

  		

 	
	<!-- 파일 업로드	a.mno=m.eno = #{a.mno=m.eno} -->
	<insert id="insertRepo" parameterType="String"> 
 		insert into PMSBFILE values(pmsbfile_seq.nextval,pmsmeeting_seq.currval,null, 
 			#{fname}, sysdate)
	</insert>
	<resultMap type="String" id="strMap"/> 
 	<select id="fnames" resultMap="strMap" parameterType="int">
 		SELECT fname 
 		FROM PMSBFILE		
 		WHERE mnno=#{mnno}
 	</select> 
	
	<update id="uptFileInfo" parameterType="java.util.HashMap">
		UPDATE PMSBFILE
			SET fname = #{tar},
	        upload= sysdate
	    WHERE mnno = ${mnno}
		AND fname = #{org}	    	
	</update> 	
 	
 	<insert id="insFileInfo" parameterType="java.util.HashMap"> 
 		insert into PMSBFILE values(pmsbfile_seq.nextval,${mnno},null,
 			#{tar}, sysdate)
	</insert>
 
 	<select id="andlist" resultMap="meetResult" parameterType="msch">
 		
 		SELECT topic
 		FROM pmsmeeting
 		WHERE 1=1
		<if test="topic!=null and topic!=''">
		and topic like '%'||#{topic}||'%'
		</if>
		ORDER BY mnno DESC
 
 	</select>
 
	
</mapper>

