<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="project06.repository.MeetDao">

	<resultMap type="meet" id="meetResult"/>
 	<select id="list" resultMap="meetResult" parameterType="meet">
		SELECT mnno,topic,detail,decision,etc,views,wdate,chdate,mdate,loc,people,
		mndiv,m.name writer,pno
		FROM pmsmeeting a, pmsemp m
		WHERE 1=1 and a.mno=m.eno
		order by mnno desc
 	</select>
</mapper>	