<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<!-- 
	// empMapper.xml과 연결 
	// EmpRep ==> namspace명
	// ArrayList<Emp> ==> ResultMap
	// empList ==> id
	// Emp ==> parameterType
	resultMap 객체 선언 단위 객체가 모인 객체 선언
 -->	
 	<!-- resultMap은 배열형태로 결과값을 return할 객체
 		 resultType 단일 데이터형태로 결과값을 return할 객체
 		 
 		 column ==> vo와 연결하여 ArrayList로 처리..
 	 -->
<mapper namespace="project06.repository.NoticeDao">
 	<resultMap type="notice" id="noticeResult"/>
 		
 	<select id="totCnt" resultType="int" parameterType="nsch" >

			select count(*) 
			from pmsnotice 
			where 1=1
 	</select>
 	<select id="list" resultMap="noticeResult" parameterType="nsch" >
		SELECT *
 		FROM(
			select rownum cnt, p.* 
		FROM pmsnotice p
		WHERE 1=1
		ORDER BY nno DESC )
		WHERE cnt BETWEEN #{start} AND #{end}
 	</select>
 	
</mapper>	

