<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="project06.repository.pmsempRep">
 	<resultMap type="pmsemp" id="pmsempResult"/>
 	
 	<select id="pmsempList" resultMap="pmsempResult" parameterType="pmsemp">
		SELECT a.eno, a.name, a.GRADE, a.DEPT, a.EMAIL, a.PHONE,  
		(select c.CNAME from pmsmember b, pmscodes c where a.eno=b.mno and b.mdiv=c.cno) cname 
		FROM pmsemp a 
		WHERE NOT a.grade LIKE '%'||'대표이사'||'%'
 	</select>
 	
 	<!-- pm 프로젝트 팀원 삭제 리스트 -->
 	<select id="pmempList" resultMap="pmsempResult" parameterType="pmsemp">
		SELECT a.eno, a.name, a.GRADE, a.DEPT, a.EMAIL, a.PHONE,  
		c.CNAME,b.pno
		FROM pmsemp a, pmsmember b, pmscodes c
		WHERE a.eno = b.mno and b.mdiv=c.cno
		AND b.pno=#{pno}
		AND b.mdiv=5
 	</select>
 	
 	
	<insert id="insert" parameterType="pmsemp">
		 insert into pmsemp values(pmsemp_seq.nextval,#{name},#{dept},
		 					#{grade},#{phone},#{email})
	</insert>
	
	<!-- CTO설정 -->
	<update id="updatepmsemp1" parameterType="pmsemp">
		UPDATE pmsmember
		SET mdiv=3
		WHERE mno=#{eno}
	</update>
	<!-- 기존 CTO 권한변경 -->
	<update id="updatepmsemp2" parameterType="pmsemp">
		UPDATE pmsmember
		SET mdiv=6
		WHERE mdiv=3
	</update>
	<!-- pno -> null로 변경 -->
	<update id="delemp" parameterType="pmsemp">
		UPDATE pmsmember
		SET pno = null
		WHERE mno =#{eno}
	</update>
	
	
	
	
<!-- Jin -->
	<resultMap type="int" id="pmsEmpEnoResult"/>
	<select id="pmsEmpCounter" resultType="int" parameterType="int">
 		SELECT count(*) FROM pmsemp WHERE name=#{name} AND email=#{email}
 	</select>
 	
	<select id="pmsEmpEno" resultMap="pmsEmpEnoResult" parameterType="int">
		SELECT eno FROM pmsemp WHERE name=#{name} AND email=#{email}
	</select>
	
</mapper>	