<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="project06.repository.pmsempRep">
 	<resultMap type="pmsemp" id="pmsempResult"/>
 	<select id="pmsempList" resultMap="pmsempResult" parameterType="pmsemp">
<!-- 	SELECT * FROM pmsemp
	WHERE NOT grade LIKE '%'||'CEO'||'%'
	AND NOT grade LIKE '%'||'CTO'||'%' -->
	
	SELECT a.eno, a.name, a.GRADE, a.DEPT, a.EMAIL, a.PHONE, b.MDIV, c.CNAME 
	FROM pmsemp a, pmsmember b, PMSCODES c 
	WHERE a.eno=b.mno AND b.mdiv=c.cno
	AND NOT a.grade LIKE '%'||'대표이사'||'%'
	AND NOT a.grade LIKE '%'||'전무'||'%'
 	</select>
 	
<!-- 	<select id="totCnt" resultType="int" parameterType="bsch">
		select count(*)
		from pmsemp
		where 1=1
		<if test="name!=null and name!=''">
		and name like '%'||#{name}||'%'
		</if>
		<if test="dept!=null and dept!=''">
		and dept like '%'||#{dept}||'%'
		</if>
		<if test="grade!=null and grade!=''">
		and grade like '%'||#{grade}||'%'
		</if>
	</select> -->
	<insert id="insert" parameterType="pmsemp">
		 insert into pmsemp values(pmsemp_seq.nextval,#{name},#{dept},
		 					#{grade},#{phone},#{email})
	</insert>
	
	<update id="updatepmsemp1" parameterType="pmsemp">
		UPDATE pmsmember
		SET mdiv=3
		WHERE mno=#{eno}
	</update>
	
	<update id="updatepmsemp2" parameterType="pmsemp">
		UPDATE pmsmember
		SET mdiv=6
		WHERE mdiv=3
	</update>
	
</mapper>	