<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		 <!-- XXXMapper.xml에서 간편하게 사용하기 위해서 선언..  -->
		 <!-- 사원리스트 불러오기 -->
		 <typeAlias alias="pmsemp" type="project06.vo.pmsemp"/>  
		 <typeAlias alias="notice" type="project06.vo.Notice"/> 
		 <typeAlias alias="nsch" type="project06.vo.NoticeSch"/> 
		 <typeAlias alias="meet" type="project06.vo.Meet"/> 
		 
		 <!-- 대시보드 -->
		 <typeAlias alias="dashNotice" type="project06.vo.DashNotice"/> 
		 <typeAlias alias="dashMeet" type="project06.vo.DashMeet"/> 
		 <typeAlias alias="dashIssue" type="project06.vo.DashIssue"/> 
		 <typeAlias alias="dashRe" type="project06.vo.DashRe"/> 
		 
		 <!-- Jin -->
		 <typeAlias alias="pmsMember" type="project06.vo.PmsMember"/> 
		 <typeAlias alias="empLog" type="project06.vo.EmpLog"/>
		 <typeAlias alias="empLogSch" type="project06.vo.EmpLogSch"/> 
		 
		 <!-- 업무 리스트 -->
		 <typeAlias alias="task" type="project06.vo.Task"/>
		 <typeAlias alias="tsch" type="project06.vo.TaskSch"/>
		 
		 <!-- 이슈리스트 -->
		 <typeAlias alias="risk" type="project06.vo.Risk"/>
		 <typeAlias alias="rsch" type="project06.vo.RiskSch"/>
		 <typeAlias alias="comment" type="project06.vo.Comment"/>
		 
		 <!-- 간트 차트 -->
		 <typeAlias alias="chart" type="project06.vo.Chart"/>
		 <typeAlias alias="project" type="project06.vo.Project"/>
	</typeAliases>
	<mappers>
		 <!-- 실제 sql을 통해서 객체를 생성할 mapper.xml 선언. --> 
		 <mapper resource="resource/mybatis/pmsempMapper.xml"/> 
		 <mapper resource="resource/mybatis/noticeMapper.xml"/> 
		 <mapper resource="resource/mybatis/meetMapper.xml"/> 
		 <mapper resource="resource/mybatis/DashTeamMapper.xml"/> 
		 <!-- Jin -->
		 <mapper resource="resource/mybatis/pmsMemberMapper.xml"/> 
		 <mapper resource="resource/mybatis/empLogMapper.xml"/>
		 <!-- 업무 리스트 -->
		 <mapper resource="resource/mybatis/workMapper.xml"/>
		 
		  <!-- 이슈리스트 -->
		  <mapper resource="resource/mybatis/riskMapper.xml"/>
		  <mapper resource="resource/mybatis/commentMapper.xml"/>
		  
		  <!-- 간트차트 -->
		  <mapper resource="resource/mybatis/chartMapper.xml"/> 
		  <mapper resource="resource/mybatis/projectMapper.xml"/> 
	</mappers>

</configuration>