<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		 <!-- XXXMapper.xml에서 간편하게 사용하기 위해서 선언..  -->
		 <!-- 사원리스트 불러오기 -->
		 <typeAlias alias="pmsemp" type="project06.vo.pmsemp"/>  
		 <typeAlias alias="chart" type="project06.vo.Chart"/> 
		 <typeAlias alias="notice" type="project06.vo.Notice"/> 
		 <typeAlias alias="nsch" type="project06.vo.NoticeSch"/> 
		 <typeAlias alias="meet" type="project06.vo.Meet"/> 
		 
		 <!-- 대시보드 -->
		 <typeAlias alias="dashNotice" type="project06.vo.DashNotice"/> 
		 <typeAlias alias="dashMeet" type="project06.vo.DashMeet"/> 
		 <typeAlias alias="dashIssue" type="project06.vo.DashIssue"/> 
		 <typeAlias alias="dashRe" type="project06.vo.DashRe"/> 
		 
		 <!-- Jin -->
		 <typeAlias alias="pmsMember" type="project06.vo.PmsMember"/> 
		 <!-- 이슈리스트 -->
		 <typeAlias alias="risk" type="springweb.a03_mvc.a04_vo.Risk"/>
		 <typeAlias alias="rsch" type="springweb.a03_mvc.a04_vo.RiskSch"/>
		 <typeAlias alias="comment" type="springweb.a03_mvc.a04_vo.Comment"/>
	</typeAliases>
	<mappers>
		 <!-- 실제 sql을 통해서 객체를 생성할 mapper.xml 선언. --> 
		 <mapper resource="resource/mybatis/pmsempMapper.xml"/> 
		 <mapper resource="resource/mybatis/chartMapper.xml"/> 
		 <mapper resource="resource/mybatis/noticeMapper.xml"/> 
		 <mapper resource="resource/mybatis/meetMapper.xml"/> 
		 <mapper resource="resource/mybatis/DashTeamMapper.xml"/> 
		 <!-- Jin -->
		 <mapper resource="resource/mybatis/pmsMemberMapper.xml"/> 
		 <!-- 이슈리스트 -->
		 <mapper resource="resource/mybatis/riskMapper.xml"/>
		 <mapper resource="resource/mybatis/commentMapper.xml"/>
	</mappers>

</configuration>