<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="project06.repository.WorkDao2">
 	<resultMap type="task" id="taskResult"/>
 	 
 	 <!-- 
 	tno NUMBER NOT NULL, /* 업무번호 */
	pno NUMBER NOT NULL, /* 프로젝트번호 */
	refno NUMBER NOT NULL, /* 부모업무번호 */
	tname VARCHAR2(100) NOT NULL, /* 업무명 */
	detail VARCHAR2(2000) NOT NULL, /* 업무내용 */
	sdate DATE NOT NULL, /* 시작일자 */
	edate DATE NOT NULL, /* 종료일자 */
	prog NUMBER NOT NULL, /* 진행율 */
	pdate DATE, /* 진행일자 */
	coment VARCHAR2(200), /* 반려사유 */
	tdiv NUMBER NOT NULL, /* 결재구분 */
	mno NUMBER NOT NULL /* 사원번호 */
 	 -->
 	 <select id="totCnt" resultType="int" parameterType="task">
 		select count(*) 
		from pmstask
		where 1=1
		AND pno = #{pno}
		<if test="mdiv!=2 and mdiv!=3 and mdiv!=4 and mdiv!=6">
		AND mno = #{mno}
		</if>
		<if test="tname!=null and tname!=''">
		and tname like '%'||#{tname}||'%'
		</if>	
 	</select> 
 	 
 	 <!-- 페이지네이션 !-->
 	<select id="list" resultMap="taskResult" 
 		parameterType="tsch" >
		SELECT *
 		FROM(
			select rownum cnt, b.* 
			from PMSTASK b
			where 1=1
			<if test="tname!=null and tname!=''">
			and tname like '%'||#{tname}||'%'
			</if>
			ORDER BY tno desc )
		WHERE cnt BETWEEN #{start} AND #{end}	
 	</select>
 	
 
 	<select id="slist" resultMap="taskResult" 
 		parameterType="tsch" >
 		SELECT *
 		FROM(
			select rownum cnt, b.* 
			from PMSTASK b, pmsmember pm
			where 1=1 AND pm.mno = b.mno
			AND pm.pno = #{pno}
			<if test="mdiv!=2 and mdiv!=3 and mdiv!=4 and mdiv!=6">
			AND pm.mno = #{mno}
			</if>
			<if test="tname!=null and tname!=''">
			and tname like '%'||#{tname}||'%'
			</if>
			ORDER BY tno DESC )
		WHERE cnt BETWEEN #{start} AND #{end}
 	</select>
 	
 	
 	<!-- 상세화면 -->
 	<select id="getTask" 
 		resultType="task" parameterType="int">
 		SELECT *
 		FROM PMSTASK
 		WHERE tno = #{tno}
 	</select>
 	
 	<!-- 삭제 -->
 	<delete id="deleteTask" parameterType="int">
		DELETE FROM PMSTASK
		 WHERE tno = #{tno}
 	</delete>
 	
 	<!-- 제목, 내용수정  / 결재, 반려
 	pstart = #{pstart},
	pend = #{pend}-->
 	<update id="updateTask" parameterType="task">
		UPDATE PMSTASK
		   SET tname = #{tname},
		   	   detail = #{detail}   
		 WHERE tno = #{tno}
 	</update> 
 	<update id="upDetail" parameterType="task">
		UPDATE PMSTASK
		   SET updetail = #{updetail}
		 WHERE tno = #{tno}
 	</update>
 	<update id="coment" parameterType="task">
		UPDATE PMSTASK
		   SET coment = #{coment}
		 WHERE tno = #{tno}
 	</update>
 	<update id="prog" parameterType="task">
		UPDATE PMSTASK
		   SET prog = #{prog}
		 WHERE tno = #{tno}
 	</update>
 	<update id="prog0" parameterType="task">
		UPDATE PMSTASK
		   SET prog = 0
		 WHERE tno = #{tno}
 	</update>
 	<update id="upTdiv" parameterType="task">
		UPDATE PMSTASK
		   SET tdiv = 22, pdate = sysdate
		 WHERE tno = #{tno}
 	</update>
 	<update id="upTdiv2" parameterType="task">
		UPDATE PMSTASK
		   SET tdiv = 23, pdate = sysdate
		 WHERE tno = #{tno}
 	</update>
 	<update id="upTdiv3" parameterType="task">
		UPDATE PMSTASK
		   SET tdiv = 24, pdate = sysdate
		 WHERE tno = #{tno}
 	</update>
 	
 	<update id="progUdt" parameterType="task">
		UPDATE pmstask 
		SET prog = ROUND((SELECT sum(prog)
					FROM PMSTASK
					where refno = #{refno}) / 
					(SELECT count(prog)
					FROM PMSTASK
					where refno = #{refno}))
		WHERE tno = #{refno}
 	</update>
 	
 	<!-- 등록 -->
 	<insert id="insert" parameterType="task">
	 	INSERT INTO PMSTASK values(pmstask_seq.nextval, 1001, 1, #{tname},#{detail},null,to_date(#{sdate},'yy-mm-dd'),to_date(#{edate},'yy-mm-dd'),
		0,'','',21,10000001)
 	</insert>

 	
 	<!--
 	INSERT INTO PMSTASK values(pmstask_seq.nextval, 1001, 1, #{tname},#{detail},#{sdate},#{edate},
		0,'','',21,10000001)
 	
 	tno NUMBER NOT NULL, /* 업무번호 */
	pno NUMBER NOT NULL, /* 프로젝트번호 */
	refno NUMBER NOT NULL, /* 부모업무번호 */
	tname VARCHAR2(100) NOT NULL, /* 업무명 */
	detail VARCHAR2(2000) NOT NULL, /* 업무내용 */
	sdate DATE NOT NULL, /* 시작일자 */
	edate DATE NOT NULL, /* 종료일자 */
	prog NUMBER NOT NULL, /* 진행율 */
	pdate DATE, /* 진행일자 */
	coment VARCHAR2(200), /* 반려사유 */
	tdiv NUMBER NOT NULL, /* 결재구분 */
	mno NUMBER NOT NULL /* 사원번호 */
 	 -->
 	
 	
</mapper>	



